<h1><%= @article.title %></h1>
<p><%= @article.description %></p>
  
<%= link_to @article.user.username, user_path(@article.user.id) %>
<br>
<%= link_to "Edit", edit_article_path(@article) %>
<br>
<%= link_to "Back to List", articles_path %>
